<main>
  <div class="container">
    <p class="headline">login</p>
    <div>
      <div class="box">
        <p class="required-asterisk">Email</p>
        <div><input type="email" [(ngModel)]="loginObj.email" name="email" id="email" placeholder="Enter your Email"></div>
      </div>
    </div>
    <div>
      <div class="box">
        <p class="required-asterisk">Password</p>
        <div><input type="password" [(ngModel)]="loginObj.password" name="password" id="password" placeholder="Enter your Password"></div>
      </div>
    </div>
    <button class="loginBtn" (click)="onLogin()">Login</button>
    <p class="text">Don't have an account?<a href="#">Sign up</a></p>
  </div>
</main>
